/* NOTE:
 * Grid/Flex layout stuff starts at line 187. 
 * The stuff before is just boring old CSS to make content look not crappy.
 */


/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/

@import url(//fonts.googleapis.com/css?family=Open+Sans);

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: white;
}

body {
    margin: 0;
    margin-top: 81px;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.tryIt {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.tryIt iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}


/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}


/* Promo section */

.logo,
.site-title {
    text-align: center;
}

.logo {
    font-size: 6em;
}

.site-title {
    margin-top: -1em;
    margin-bottom: 3em;
}

/* nav section */

#nav-bar {
    position: fixed;
    top: 0;
    padding: 10px;
    background: #FFF6E5;
    height: 80px;
    font-weight: bold;
    letter-spacing: 0.125em;
    width: 100%;
    display: flex;
  justify-content: flex-end;
    align-items: center;
}

#nav-bar li {
    list-style: none;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

#logo-img
{
  order: 1;
  object-fit: scale-down;
}

#nav-bar :nth-child(2) { order: 2; margin-left: auto;}
#nav-bar :nth-child(3) { order: 3; }
#nav-bar :nth-child(4) { order: 4; }

/* Splash section */

.splash {
    background: #FFF6E5;
    padding-bottom: 2em;
}

.splash-content {
    padding: 1.5em;
}

@media screen and (min-width: 600px) {
    .splash-text {
        columns: 1;
        column-gap: 2em;
    }

    .splash-text p {
        padding-top: 0;
    }
}

/* Buckets section */

.buckets {
    padding: 2em 1em 1em;
    background: #3E454C;
}

.buckets nav {
    margin: 0;
    padding: 0;
}

.buckets li {
    margin-bottom: 1em;
    background: white;
    list-style-type: none;
}

.bucket {
    padding: 1.5em;
}

/* More section */

.more {
    padding: 2em;
}

/* Twins section */

.twin {
    padding: 2em;
    background: #2185C5;
    color: white;
}

.twin:last-of-type {
    background: #FF7F66;
}

/* Colophon section */
.colophon {
    padding: 2em;
    background: hsl(0, 0%, 10%);
    color: white;
    text-align: center;
}

.colophon a {
    color: white;
}

.colophon a:hover,
.colophon a:focus {
    border-bottom: 1px solid white;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
    .grid {
        max-width: 50em;
        margin: 0 auto;
    }
}

/*--------------------------------------------------------------
Use flex to create a three-bucket layout 
--------------------------------------------------------------*/

@media screen and (min-width: 700px) {
    @supports (display: flex) {

        .buckets ul {
            display: flex;
            justify-content: space-around;
        }

        .buckets li {
            width: 31%;
        }

    }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@media screen and (min-width: 600px) {

    /* Layout with CSS Grid */
    @supports (display: grid) {

        /* Four-column layout. Two center columns have a total max width of 50em: */
        .grid {

            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
        }

        .twins {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 45em)) 2fr;
        }

        #video {
            display: block;
            border: 0;
            width: 100%;
            height: 100%;
        }

        .more {
            text-align: center;
        }

        /* Center items by placing them in the two center columns: */
        .splash-content,
        .more-content,
        .buckets ul {
            grid-column: 2/4;
        }

        /* Use automatic grid placement + span to let each item span two columns:*/
        .twin,
        .colophon aside {
            grid-column: span 2;
        }

    }
}

#guarantee {
    color: green;
    font-style: italic;
}

#email {
    text-align: center;
    font-style: italic;
}

#submit {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 4px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    width: 111px;
}

#submit:hover {
    background: #f5ecd0 !important;
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}